@{
    ViewData["Title"] = "Productos";
}
<h1>@ViewData["Title"]</h1>

<p>Estos son algunos de los productos.</p>

<div id="carrusel">
    <div class="carrusel">
        <div class="product" id="product_0">
            <img src="~/img/Martillo2 (1).jpg" width="195" height="100" />
            <h5>Martillo</h5>
            <p>$ 175</p>
        </div>
        <div class="product" id="product_1">
            <img src="~/img/IHP-0406-250x320.jpg" width="195" height="100" />
            <h5>Pala</h5>
            <p>$ 295</p>
        </div>
        <div class="product" id="product_2">
            <img src="~/img/Carretilla.jpg" width="195" height="100" />
            <h5>Carretilla</h5>
            <p>250.00 €</p>
        </div>
        <div class="product" id="product_3">
            <img src="~/img/marro.jpg" width="195" height="100" />
            <h5>Marro</h5>
            <p>$ 259</p>
        </div>
        <div class="product" id="product_4">
            <img src="~/img/Hacha.jpg" width="195" height="100" />
            <h5>Hacha</h5>
            <p>$ 300</p>
        </div>
        <div class="product" id="product_5">
            <img src="~/img/MACHETE.jpg" width="195" height="100" />
            <h5>Machete</h5>
            <p>$ 95</p>
        </div>
    </div>
</div>

